#about {
  display: grid;
  justify-content: center;

  section {
    display: grid;

    span,
    p {
      line-height: 180%;
      text-align: justify;
      color: #414141;
    }

    article {
      display: grid;
      transition: all 0.1s linear;
      background-color: #b3e2a7;
      border: 1px solid;
      border-radius: 0.25rem;
      align-items: center;
      justify-content: center;

      ul {
        display: grid;
        justify-content: space-between;

        div {
          display: grid;
          grid-template-rows: repeat(3, max-content);
        }
      }
    }

    article:hover {
      background-color: rgb(160, 204, 150);
    }
  }

  #quem-somos {
    grid-template-rows: repeat(4, max-content);
  }

  #missao-e-valores {
    grid-template-rows: repeat(3, max-content);
  }
}

@media screen and (max-width: 320px) {
  #about {
    #missao-e-valores {
      padding: 2rem 1rem 4rem 1rem;
    }

    section {
      gap: 2rem;
      padding: 2rem 1rem;
      max-width: 16rem;

      h1 {
        font-size: 21px;
      }

      span,
      p {
        font-size: 16px;
      }

      article {
        grid-template-rows: repeat(2, max-content);
        gap: 2rem;
        padding: 2rem;
        justify-items: center;

        svg {
          height: 24px;
          width: 24px;
        }

        ul {
          grid-template-rows: repeat(3, max-content);
          gap: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 379px) and (min-width: 321px) {
  #about {
    #missao-e-valores {
      padding: 2rem 1rem 4rem 1rem;
    }

    section {
      gap: 2rem;
      padding: 2rem 1rem;
      max-width: 18rem;

      h1 {
        font-size: 24px;
      }

      span,
      p {
        font-size: 16px;
      }

      article {
        grid-template-rows: repeat(2, max-content);
        gap: 2rem;
        padding: 2rem;
        justify-items: center;

        svg {
          height: 28px;
          width: 28px;
        }

        ul {
          grid-template-rows: repeat(3, max-content);
          gap: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 380px) {
  #about {
    #missao-e-valores {
      padding: 2rem 1rem 4rem 1rem;
    }

    section {
      gap: 2rem;
      padding: 2rem 1rem;
      max-width: 22rem;

      h1 {
        font-size: 28px;
      }

      span,
      p {
        font-size: 16px;
      }

      article {
        grid-template-rows: repeat(2, max-content);
        gap: 2rem;
        padding: 2rem;
        justify-items: center;

        svg {
          height: 32px;
          width: 32px;
        }

        ul {
          grid-template-rows: repeat(3, max-content);
          gap: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  #about {
    #missao-e-valores {
      padding: 2rem 1rem 4rem 1rem;
    }

    section {
      gap: 2rem;
      padding: 2rem 1rem;
      max-width: 30rem;

      h1 {
        font-size: 32px;
      }

      span,
      p {
        font-size: 18px;
      }

      article {
        grid-template-rows: repeat(2, max-content);
        gap: 2rem;
        padding: 2rem;
        justify-items: center;

        svg {
          height: 36px;
          width: 36px;
        }

        ul {
          grid-template-rows: repeat(3, max-content);
          gap: 2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  #about {
    section {
      gap: 2rem;
      padding: 8rem 4rem;
      max-width: 90rem;

      h1 {
        font-size: 48px;
      }

      span,
      p {
        font-size: 21px;
      }

      article {
        grid-template-columns: auto 1fr;
        gap: 6rem;
        padding: 2rem 4rem;

        svg {
          height: 64px;
          width: 64px;
        }

        ul {
          grid-template-columns: repeat(3, max-content);
          gap: 2rem;
        }
      }
    }
  }
}
