#consultoria {
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-content: center;

  section {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: 2rem;
    padding: 8rem 4rem;
    max-width: 90rem;

    span {
      font-size: 21px;
      font-weight: bold;
    }

    h1 {
      font-size: 48px;
    }

    p {
      font-size: 21px;
      line-height: 180%;
      text-align: justify;
      color: #414141;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      li {
        display: grid;
        padding: 2rem;
        gap: 1rem;
        background-color: #b3e2a7;
        border: 1px solid;
        border-radius: 0.25rem;
        justify-items: center;
        transition: all 0.1s linear;

        svg {
          width: 64px;
          height: 64px;
        }
      }

      li:hover {
        background-color: rgb(160, 204, 150);
      }
    }
  }
}
