#contact {
  display: grid;
  grid-template-rows: max-content;
  align-content: center;
  justify-content: center;
  min-height: 100vh;

  section {
    display: grid;
    gap: 2rem 4rem;
    grid-template:
      'h1 h1'
      'form ul';
    padding: 8rem 4rem;
    max-width: 90rem;

    h1 {
      grid-area: h1;
      font-size: 48px;
    }

    form {
      grid-area: form;
      display: grid;
      grid-template:
        'name email'
        'msg msg'
        'btn btn';
      gap: 2rem;

      #name {
        width: 300px;
        grid-area: name;
      }

      #email {
        width: 300px;
        grid-area: email;
      }

      input,
      textarea,
      button {
        padding: 1rem;
        background-color: #b3e2a7;
        border: 1px solid;
        border-radius: 0.25rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
      }

      textarea {
        height: 150px;
        resize: none;
        grid-area: msg;
      }

      input::placeholder,
      textarea::placeholder {
        color: black;
      }

      input:focus,
      textarea:focus,
      button:focus {
        outline: none;
      }

      button {
        grid-area: btn;
        width: 100px;
        justify-self: right;
        cursor: pointer;
        transition: all 0.1s linear;
      }

      button:hover {
        background-color: rgb(160, 204, 150);
      }
    }

    ul {
      display: grid;
      grid-template-rows: repeat(4, max-content);
      gap: 2rem;
      grid-area: ul;
      align-content: center;

      li {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 1rem;
        align-items: center;

        a {
          display: grid;
          max-width: 30rem;

          span:hover {
            text-decoration: underline;
          }
        }

        span {
          font-size: 21px;
          line-height: 180%;
          text-align: justify;
        }

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
