header {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  padding: 2rem;
  gap: 4rem;
  background-color: #b3e2a7;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: center;

  span {
    font-size: 18px;
  }

  #left-side {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;

    a,
    li {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      gap: 0.5rem;
      align-items: center;

      #phone-number:hover {
        text-decoration: underline;
      }

      svg {
        height: 24px;
        width: 24px;
      }
    }
  }

  nav {
    display: grid;
    align-items: center;

    #right-side {
      display: grid;
      grid-template-columns: repeat(4, max-content);
      gap: 2rem;

      li:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  header {
    display: none;
  }
}
