* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: black white;
}

#root {
  display: grid;
}
