* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lexend Deca', sans-serif;
}

#root {
  display: grid;
  grid-template-rows: 6.25rem minmax(6.25rem, 1fr) 6.25rem;
  height: 100vh;

  ul {
    list-style-type: none;
  }
}
